body{
   font-family: sans-serif;
}

header{
    height: 400px;
    color: white;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.head{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.nav-flex{
    display: flex;
    gap: 30px;
}

.button-accedi{
    border-radius: 15px;
    padding: 10px;
    border: none;
}

.flex-column{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.text{
    display: flex;
    width: 25%;
}

.scarica{
    border-radius: 15px;
    padding: 10px;
    border: none;
}

 .apri{
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 10px;
    border: none;
 }

 .main-flex{
    margin-top: 60px;
    padding: 10%;
    display: flex;
    align-items: center;
    gap: 30px;
 }

 .flex-column-final{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    flex-direction: column;
 }

 .button-scarica{
    border-radius: 15px;
    color: white;
    background-color: #7289DA;
    padding: 10px;
    border: none;
 } 
 
 footer{
    background-color: #23272A;
    background-size: auto;
    padding: 20px;
 }

 .titolo-blu{
    color: #6880D1;
 }

 .ita-flag{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    gap: 5px;
 }

 .container-footer{
    display: flex;
    justify-content: space-around;
 }

 .prodotto{
    width: 15%; 
    color: white;  
 }

 .blu{
    color: #6880D1;
 }

 .hr{
    color: #6880D1;
    border-color: #6880D1;
    border-style: groove;
    margin-left: 2%;
    margin-right: 2%;
 }

 .footer-end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
 }
 